<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row nowrap justify-content-center align-items-center>
      <ion-col>
        <ion-title>
          Leitura
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- PROFESSOR -->
  <div color="light" style="border: 1px solid lightgray" *ngIf="this.firebaseService?.usuario?.type =='Professor'">
    <ion-item color="light">
      <ion-label>Leituras Pendentes</ion-label>
      <ion-select [(ngModel)]="profLocalSelected" (ionChange)="profLocalChange()">
        <ion-select-option *ngFor="let local of this.firebaseService?.usuario?.attributes?.local_list">{{local}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div no-margin no-padding>
      <ion-list lines="none" color="light">
        <ion-item *ngFor="let leitura of this.firebaseService.leituras" detail (click)="leituraDetail(leitura)">
          <ion-label slot="start">{{leitura?.book?.title}}</ion-label>
          <ion-label slot="end"><b>{{leitura?.nota}}</b></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- ALUNOS -->
  <div *ngIf="this.firebaseService?.usuario?.type!='Professor'" style="border: 1px solid lightgray">
    <ion-card-header color="light">
      <ion-card-title>{{this.databaseService?.aluno?.attributes?.nome}}</ion-card-title>
    </ion-card-header>
    <div>
      <ion-item lines="none">
        <ion-label slot="start">
          <b>{{this.firebaseService?.alunoLeiturasCorrigidas?.length}}</b>/<b>{{this.firebaseService?.leituras?.length}}</b>
          Leituras
          validadas</ion-label>
        <ion-label><b>{{this.firebaseService?.usuario?.attributes?.leit_pont}} Pontos</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>{{this.leituraLocalRank | async }}° Colocado</b> da
          {{this.firebaseService?.usuario?.attributes?.serie}} serie em
          {{this.firebaseService?.usuario?.attributes?.local}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>{{this.leituraLocalSerieRank | async }}° Colocado</b> em
          {{this.firebaseService?.usuario?.attributes?.local}}</ion-label>
      </ion-item>
      <ion-card-subtitle slot="end">
      </ion-card-subtitle>
    </div>
  </div>
  <br>
  <br>
  <div style="border: 1px solid lightgray" *ngIf="this.firebaseService?.usuario?.type!='Professor'">
    <ion-card-header color="light" style="border-bottom: 1px solid lightgray">
      <ion-label><b>Minhas Leituras</b></ion-label>
    </ion-card-header>

    <ion-list lines="none" color="light">
      <ion-item *ngFor="let leitura of this.firebaseService.leituras" detail (click)="leituraDetail(leitura)">
        <!-- <ion-icon slot="start" color="medium" name="book"></ion-icon> -->
        <ion-label slot="start">{{leitura?.book?.title}}</ion-label>
        <ion-label slot="end"><b>{{leitura?.nota}}</b></ion-label>
      </ion-item>
    </ion-list>
    <ion-card-content color="light" no-margin no-padding>
      <ion-item color="light" lines="none" (click)="addLeitura()">
        <ion-icon slot="end" color="medium" name="add"></ion-icon>
        <ion-label slot="start">Nova leitura</ion-label>
      </ion-item>
    </ion-card-content>
  </div>


</ion-content>