<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row nowrap justify-content-center align-items-center>
      <ion-col>
        <ion-title>
          Leitura
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- PROFESSOR -->
  <div color="light" style="border: 1px solid lightgray" *ngIf="this.firebaseService?.usuario?.type =='Professor'">
    <ion-item color="light">
      <ion-label>Leituras Pendentes</ion-label>
      <ion-select [(ngModel)]="profLocalSelected" (ionChange)="profLocalChange()">
        <!-- ESSA LINHA PODE BUGAR A SELEÇÃO DE LOCAIS DO PROFESSOR SE HOUVER ESPAÇO NO LOCAL: ('C0001' != 'C0001 ') -->
        <ion-select-option *ngFor="let local of this.firebaseService?.usuario?.attributes?.local_list">{{local}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div no-margin no-padding>
      <ion-list lines="none" color="light">
        <ion-item *ngFor="let leitura of this.firebaseService.leituras" detail (click)="leituraDetail(leitura)">
          <ion-label slot="start">{{leitura?.book?.title}}</ion-label>
          <ion-label slot="end"><b>{{leitura?.nota}}</b></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- ALUNOS -->
  <div *ngIf="this.firebaseService?.usuario?.type!='Professor'" style="border: 1px solid lightgray">
    <ion-item color="primary" text-center>
      <ion-label>
        <h2><b>
            <ion-icon name="person"></ion-icon>&nbsp;{{this.databaseService?.aluno?.attributes?.nome}}
          </b></h2>
      </ion-label>
    </ion-item>
    <br>
    <ion-row justify-content-center align-items-center>
      <div style="-moz-border-radius:50%;
      -webkit-border-radius:50%;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-color: #3880ff;
      text-align:center;
      color:white;
      ">
        <h2><b>{{this.firebaseService?.usuario?.attributes?.leit_pont}}</b></h2>
        <p>Pontos</p>
      </div>
    </ion-row>

    <div>
      <ion-row justify-content-center align-items-center>
        <ion-label>Leituras validadas&nbsp;&nbsp;</ion-label>
        <div style="-moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #0cd1e8;
        text-align:center;
        color:white;
        ">
          <br><b>{{this.firebaseService?.alunoLeiturasCorrigidas?.length}}</b>/<b>{{this.firebaseService?.leituras?.length}}</b>
        </div>
      </ion-row>
      <ion-item>
        <ion-progress-bar color="secondary"
          value="{{this.firebaseService?.alunoLeiturasCorrigidas?.length/this.firebaseService?.leituras?.length}}"
          buffer="0"></ion-progress-bar>
      </ion-item>

      <ion-row justify-content-center align-items-center>
        <ion-label>Lê mais que&nbsp;&nbsp;</ion-label>
        <div style="-moz-border-radius:50%;
                -webkit-border-radius:50%;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background-color: #7044ff;
                text-align:center;
                color:white;
                "><br><b>{{this.leituraLocalSerieRank*100}}%</b></div>
        <ion-label>
          &nbsp;&nbsp;da {{this.firebaseService?.usuario?.attributes?.serie}} serie em
          {{this.firebaseService?.usuario?.attributes?.local}}</ion-label>
      </ion-row>

      <ion-item>
        <ion-progress-bar color="tertiary" value="{{this.leituraLocalSerieRank}}" buffer="0">
        </ion-progress-bar>
      </ion-item>

      <ion-row justify-content-center align-items-center>
        <ion-label>Lê mais que&nbsp;&nbsp;</ion-label>
        <div style="-moz-border-radius:50%;
            -webkit-border-radius:50%;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #10dc60;
            text-align:center;
            color:white;
            "><br><b> {{this.leituraLocalRank*100}}% </b></div>
        <ion-label>&nbsp;&nbsp;dos alunos em {{this.firebaseService?.usuario?.attributes?.local}}</ion-label>

      </ion-row>
      <ion-item>
        <ion-progress-bar color="success" value="{{this.leituraLocalRank}}" buffer="0"></ion-progress-bar>
      </ion-item>

    </div>
  </div>
  <br>

  <div style="border: 1px solid lightgray;" *ngIf="this.firebaseService?.usuario?.type!='Professor'">
    <ion-row color="primary" style="text-align: center; background: darkblue; height: 50px;">
      <ion-label style="color: white; font-size: 20px;"><b>Minhas Leituras</b></ion-label>
    </ion-row>


    <ion-segment [(ngModel)]="leituraStatus">
      <ion-segment-button class="seg" value="navaliada">
        <ion-label style="font-weight: bold">Não Avaliada(s)</ion-label>
      </ion-segment-button>

      <ion-segment-button class="seg" value="avaliadas">
        <ion-label style="font-weight: bold">Avaliada(s)</ion-label>
      </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="leituraStatus">
      <div *ngSwitchCase="'navaliada'">
        <ion-list lines="none" color="light">
          <ion-item *ngFor="let leitura of this.lNAv" detail (click)="leituraDetail(leitura)">
            <ion-label slot="start">{{leitura?.book?.title}}</ion-label>
            <ion-label slot="end"><b>{{leitura?.nota}}</b></ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngSwitchCase="'avaliadas'">
        <ion-list lines="none" color="light">
          <ion-item *ngFor="let leitura of this.lAv" detail (click)="leituraDetail(leitura)">
            <ion-label slot="start">{{leitura?.book?.title}}</ion-label>
            <ion-label slot="end"><b>{{leitura?.nota}}</b></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <div *ngIf="this.firebaseService?.usuario?.type!='Professor'">
    <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="fab">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button routerLink="/add-book/" routerDirection="forward" data-desc="Cadastrar leitura">
          <ion-icon name="book"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

</ion-content>