<ion-content style="background-color: #18DB9A;">
  <div style="background-color: #18DB9A;">
      <br>
      <br>
      <ion-row justify-content-center align-items-center>
          <img height="157" width="300" src="assets/icon/logo.png">
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-label style="color: white;">Sistema Estudantil de Incentivo a Leitura</ion-label>
      </ion-row>
      <br>
      <ion-card color="light" padding style="border: 1px solid lightgray; border-radius: 25px;">
        <ion-card-header>
          <ion-card-title>Entrar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item color="light">
            <ion-label position="floating">Login</ion-label>
            <ion-input [(ngModel)]="userLogin"></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <br>
          <ion-button color="success" fill="outline" (click)="login()">Entrar</ion-button>
          <ion-button color="primary" fill="outline" (click)="register()">Registrar</ion-button>
        </ion-card-content>
        <ion-item lines="none">
          <ion-label color="danger">{{this.erroMessage}}</ion-label>
        </ion-item>
      </ion-card>
      <br>
      <br>
  </div>
 
</ion-content>
<!-- CREDITOS -->
<ion-toolbar>
  <ion-row justify-content-center style=" border-top: 1px solid grey;">
    <ion-col size="3">
      <ion-row justify-content-center>
        <ion-label style="font-size: 11px">
          Desenvolvimento:
        </ion-label>
      </ion-row>
    </ion-col>
    <ion-col size="7">
      <ion-row justify-content-center>
        <ion-label style="font-size: 11px">
          Apoio:
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="3">
      <ion-row justify-content-center>
        <ion-col>
          <img src="assets/icon/musketeersLOGO.png" alt="Time The Musketeers">
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="7">
      <ion-row justify-content-center>
        <ion-col>
          <img src="assets/icon/cpsLOGO.png" alt="Prefeitura de Campinas">
        </ion-col>
        <ion-col>
          <img src="assets/icon/imaLOGO.png" alt="IMA Campinas">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-toolbar>