<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-row nowrap justify-content-center align-items-center>
      <ion-col>
        <ion-title>
          Detalhes da leitura
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card color="light" class="welcome-card" style="border: 1px solid lightgray; border-radius: 25px;"> -->

    <ion-card-header color="light">

      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h2 style="color: white;">SOBRE O LIVRO</h2>
        </ion-label>
      </ion-row>
      <ion-row wrap>
        <ion-label>
          <ion-card-subtitle><b>Titulo: </b> {{this.firebaseService?.leituraDetail?.book?.title}} </ion-card-subtitle>
          <ion-card-subtitle><b>Autores: </b> {{this.firebaseService?.leituraDetail?.book?.authors[0]}}
          </ion-card-subtitle>
          <ion-card-subtitle><b>Data Publicação: </b>{{this.firebaseService?.leituraDetail?.book?.publishedDate}}
          </ion-card-subtitle>
          <ion-card-subtitle><b>Categorias: </b> {{this.firebaseService?.leituraDetail?.book?.categories[0]}}
          </ion-card-subtitle>
          <ion-card-subtitle><b>N° de Páginas: </b> {{this.firebaseService?.leituraDetail?.book?.pageCount}}
          </ion-card-subtitle>
        </ion-label>
      </ion-row>
      <br>

      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h2 style="color: white;">ALUNO AUTOR</h2>
        </ion-label>
      </ion-row>
      <ion-row style="background-color: #0cd1e8;" justify-content-center align-items-center>
          
        <ion-card-title style="color: white;"><b>{{this.databaseService?.nomeAluno?.attributes?.nome}}</b></ion-card-title>
      </ion-row>
      <br>

      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h2 style="color: white;">RESUMO/RESENHA</h2>
        </ion-label>
      </ion-row>
      <ion-row wrap>
        <ion-label>
          <ion-card-subtitle><b>Início da Leitura: </b> {{this.firebaseService?.leituraDetail?.dataInicio}}
          </ion-card-subtitle>
          <ion-card-subtitle><b>Envio do Resumo/Resenha: </b> {{this.firebaseService?.leituraDetail?.createDate}}
          </ion-card-subtitle>
        </ion-label>
      </ion-row>
      <br>

      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h4 style="color: white;">Baixar Resumo/Resenha</h4>
        </ion-label>
      </ion-row>
      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-button color="success" expand="block" (click)="downloadArquivoLeitura()">
          <ion-icon slot="icon-only" color="light" name="download"></ion-icon>
        </ion-button>
      </ion-row>
      <br>

      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h2 style="color: white;">AVALIAÇÃO DO RESUMO/RESENHA</h2>
        </ion-label>
      </ion-row>

      <ion-item color="light">
        <ion-label>
          <h2><b>Prof.: {{this.firebaseService?.nomeProf?.attributes?.nome}}</b></h2>
          <h2><b>Nota: {{this.firebaseService?.leituraDetail?.nota}}</b></h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label position="stacked">Comentário</ion-label>
        <ion-textarea color="medium" rows="1" readonly>
          {{this.firebaseService?.leituraDetail?.comment}}</ion-textarea>
      </ion-item>
    </ion-card-header>

    <ion-card-content style="background-color: white;" *ngIf="this.firebaseService?.usuario?.type=='Professor' && (this.firebaseService?.leituraDetail?.prof_matr == '-' || this.firebaseService?.leituraDetail?.prof_matr == this.firebaseService?.usuario?.matricula)">
      <ion-row style="background-color: #3880ff;" justify-content-center align-items-center>
        <ion-label>
          <h2 style="color: white;">AVALIAR LEITURA</h2>
        </ion-label>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Professor</ion-label>
        <ion-input value="{{this.firebaseService?.usuario?.attributes?.nome}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nota Atribuída(0-10)</ion-label>
        <ion-input type="number" placeholder="5.5" max="10" min="0" [(ngModel)]="notaForm"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Comentário</ion-label>
        <ion-textarea [(ngModel)]="commentForm"></ion-textarea>
      </ion-item>
      <ion-row justify-content-center align-items-center>
        <ion-button color="success" fill="outline" [class.button-enabled]="butEnviar" (click)="avaliarLeitura()">
          Avaliar
        </ion-button>
      </ion-row>

    </ion-card-content>
  <!-- </ion-card> -->

</ion-content>