<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-item color="secondary" *ngIf="this.firebaseService?.usuario?.type == 'Professor'">
            <!-- <ion-thumbnail slot="start">
              <img src="{{this.firebaseService?.usuario?.img || async }}">
            </ion-thumbnail> -->
            <ion-label>
              <h2>Prof. {{this.firebaseService?.usuario?.attributes?.nome || async}}</h2>
              <p color="medium" style="font-size: 10px;">
                {{this.databaseService.profLocal?.attributes?.loc_descr || async}}</p>
              <!-- <p color="medium" style="font-size: 10px;">Serie: {{this.databaseService?.aluno?.attributes?.curso || async}} - {{this.databaseService?.aluno?.attributes?.turma || async}}</p> -->
            </ion-label>
          </ion-item>
          <ion-item color="secondary" *ngIf="this.firebaseService?.usuario?.type != 'Professor'" lines="none">
            <!-- <ion-thumbnail slot="start">
              <img src="{{this.firebaseService?.usuario?.img || async }}">
            </ion-thumbnail> -->
            <ion-label>
              <h2><b>{{this.databaseService?.aluno?.attributes?.nome || async}}</b></h2>
              <!-- <p color="medium" style="font-size: 10px;">{{this.databaseService?.aluno?.attributes?.local || async}}</p>
              <p color="medium" style="font-size: 10px;">{{this.databaseService?.aluno?.attributes?.curso || async}}
                (Turma {{this.databaseService?.aluno?.attributes?.turma || async}})</p> -->
            </ion-label>
          </ion-item>
        </ion-toolbar>

      </ion-header>
      <ion-content>
        <ion-list *ngIf="this.firebaseService?.usuario?.type == 'Professor'">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesProf">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list *ngIf="this.firebaseService?.usuario?.type != 'Professor'">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesAluno">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button expand="block" fill="outline" color="dark" (click)="desconectar()">
            Desconectar
            <ion-icon slot="end" name="exit"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>