<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-item>
            <ion-avatar>
              <img src="{{conta?.img}}">
            </ion-avatar>
            <ion-label padding>{{aluno?.attributes?.nome}}</ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
          <ion-toolbar>
              <ion-button expand="block" fill="outline" color="dark" (click)="desconectar()">
                Desconectar 
                <ion-icon slot="end" name="exit"></ion-icon>
              </ion-button>
          </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>