<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Boletim
      </ion-title>
      <ion-chip outline slot="end">
          <ion-label>{{aluno?.attributes?.nome}}</ion-label>
          <ion-avatar>
            <img src="{{aluno?.img}}">
          </ion-avatar>
      </ion-chip>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card style="height: 55px; margin: 5px;" >
      <ion-grid>
        <ion-row >   
          <ion-col class="Vcenter"  size = '5' >       
            <h4  no-margin no-padding class="mat">Educação Fisica</h4>
          </ion-col>        
          <ion-col size = '1'></ion-col>
          <ion-col size = '6'  >
              <ion-segment class="bot" >
                  <ion-segment-button no-margin no-padding class="seg" layout = "icon-end" value="Faltas">                      
                    <ion-label no-margin class="bol" >Falta(s)</ion-label>
                    <ion-icon class="icon" name="arrow-dropdown"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button no-margin no-padding class="seg" layout = "icon-end" value="Notas" >                      
                    <ion-label no-margin class="bol">Nota(s)</ion-label>
                    <ion-icon class="icon" name="arrow-dropdown"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card>
    
    <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </ion-list> -->
    <!--
		testando comit
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  </ion-content>
  