<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Boletim
    </ion-title>
    <ion-chip outline slot="end">
      <ion-label>{{aluno?.attributes?.nome}}</ion-label>
      <ion-avatar>
        <img src="{{aluno?.img}}">
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let materia of materiaArray">
    <ion-grid style="height: 43px;">
      <ion-row style="background-color: lightgray; height: 44px;">
        <ion-col no-margin class="Vcenter" size='5'>
          <h4 no-margin no-padding class="mat">{{materia?.materia}}</h4>
        </ion-col>
        <ion-col no-padding no-margin size='1'></ion-col>
        <ion-col no-padding no-margin size='6'>
          <ion-segment class="bot" [(ngModel)]="materia.statusCheck">
            <ion-segment-button *ngIf="materia.statusCheck != 'Faltas'" no-padding class="seg" layout="icon-end"
              value="Faltas">
              <ion-label no-margin class="bol">Faltas(s)</ion-label>
              <ion-icon class="icon" name="arrow-dropdown"></ion-icon>
            </ion-segment-button>
            <ion-segment-button *ngIf="materia.statusCheck == 'Faltas'" no-padding class="seg" layout="icon-end"
              value="none">
              <ion-label no-margin class="bol">Faltas(s)</ion-label>
              <ion-icon class="icon" name="arrow-dropup"></ion-icon>
            </ion-segment-button>
            <ion-segment-button *ngIf="materia.statusCheck != 'Notas'" no-padding class="seg" layout="icon-end"
              value="Notas" (ionSelect)="segmentButtonClicked($event)">
              <ion-label no-margin class="bol">Nota(s)</ion-label>
              <ion-icon class="icon" name="arrow-dropdown"></ion-icon>
            </ion-segment-button>
            <ion-segment-button *ngIf="materia.statusCheck == 'Notas'" no-padding class="seg" layout="icon-end"
              value="none" (ionSelect)="segmentButtonClicked($event)">
              <ion-label no-margin class="bol">Nota(s)</ion-label>
              <ion-icon class="icon" name="arrow-dropup"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col no-padding no-margin size="12">
          <div [ngSwitch]="materia.statusCheck">
            <div *ngSwitchCase="'Faltas'">
              <ion-list>
                <ion-item>
                  <ion-label>Falta(s): 5 </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Limite de Faltas: 18</ion-label>
                </ion-item>
              </ion-list>
            </div>
            <div *ngSwitchCase="'Notas'">
              <ion-list>
                <ion-item *ngFor="let nota of materia.notas">
                  <ion-label>{{nota?.attributes?.an_nota_cod}}: {{nota?.attributes?.an_nota_val}} </ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </ion-list> -->
  <!--
		testando comit
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>