<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row nowrap justify-content-center align-items-center>
      <ion-col>
        <ion-title>
          Nova Leitura
        </ion-title>
      </ion-col>
      <!-- <ion-col size="7">
        <ion-chip outline nowrap>
          <ion-label>{{aluno?.attributes?.nome}}</ion-label>
          <ion-avatar>
            <img src="{{conta?.img}}">
          </ion-avatar>
        </ion-chip>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FORMULÁRIO -->
  <ion-card class="welcome-card" style="border: 1px solid lightgray; border-radius: 25px;">
    <ion-card-header>
      <ion-card-subtitle>Cadastre sua leitura</ion-card-subtitle>
      <ion-card-title>{{book?.volumeInfo?.title}}</ion-card-title>
    </ion-card-header>
    <ion-row justify-content-center align-items-center>
      <img style="height: 200px; width: 200px" src="{{book?.volumeInfo?.imageLinks?.smallThumbnail}}" alt="" />
    </ion-row>
    <ion-card-content>
      <ion-card-subtitle><b>Autores: </b> {{book?.volumeInfo?.authors}} </ion-card-subtitle>
      <ion-card-subtitle><b>Data Publicação: </b>{{book?.volumeInfo?.publishedDate}}</ion-card-subtitle>
      <ion-card-subtitle><b>Categorias: </b> {{book?.volumeInfo?.categories}}</ion-card-subtitle>
      <ion-card-subtitle><b>N° de Páginas: </b> {{book?.volumeInfo?.pageCount}}</ion-card-subtitle>
      <ion-card-subtitle><b>Descrição: </b> {{book?.volumeInfo?.description}}</ion-card-subtitle>
      <ion-row>
        <ion-input readonly>Selecionar Resenha/Resumo</ion-input>
        <ion-button>Upload</ion-button>
      </ion-row>
      <!-- <ion-row>
            <ion-label color="danger">{{this.formResponse}}</ion-label>
          </ion-row> -->
      <br>
      <br>
      <ion-row justify-content-center align-items-center>
        <ion-button color="success" fill="outline">Enviar leitura</ion-button>
        <ion-button color="danger" fill="outline">Cancelar</ion-button>
      </ion-row>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>