<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row nowrap justify-content-center align-items-center>
      <ion-col>
        <ion-title>
          Principal
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- AVISOS E TAREFAS FEITOS PELO PROFESSOR -->
  <ion-card style="border: 1px solid lightgray; height: 40%" 
    *ngIf="this.firebaseService?.usuario?.type == 'Professor'">
    <ion-card-header color="primary" style="border-bottom: 1px solid lightgray">
      <ion-label>Meus Avisos</ion-label>
    </ion-card-header>

    <ion-content scroll-y='true'>
      <ion-item *ngFor="let aviso of this.firebaseService?.avisosProf" (click)="abrirAvisos(aviso)">
        <ion-icon slot="start" color="medium" name="{{aviso.icon}}"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h3>Serie:{{aviso.serie}} Turma:{{aviso.turma}}</h3>
          <p>{{aviso.msg}}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-card>

  <ion-card style="border: 1px solid lightgray; height: 55%;" 
    *ngIf="this.firebaseService?.usuario?.type == 'Professor'">
    <ion-card-header color="primary" style="border-bottom: 1px solid lightgray">
      <ion-label>Tarefas</ion-label>
    </ion-card-header>

    <ion-content scroll-y='true'>
      <ion-item *ngFor="let tarefa of this.firebaseService?.tarefasProf" (click)="abrirTarefas(tarefa)">
        <ion-icon slot="start" color="medium" name="{{tarefa.icon}}"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h3>Serie:{{tarefa.serie}} Turma:{{tarefa.turma}} Data de Entrega:{{tarefa.dataEntrega}}</h3>
          <p>{{tarefa.msg}}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-card>

  <!-- AVISOS E TAREFAS DO ALUNO -->
  <ion-card style="border: 1px solid lightgray; height: 40%; scroll-margin-block-end: unset;" 
    *ngIf="this.firebaseService?.usuario?.type != 'Professor'">
    <ion-card-header color="primary" style="border-bottom: 1px solid lightgray">
      <ion-label>Avisos</ion-label>
    </ion-card-header>

    <ion-content scroll-y='true'>
      <ion-item *ngFor="let aviso of this.firebaseService?.avisos" (click)="abrirAvisos(aviso)">
        <ion-icon slot="start" color="medium" name="{{aviso.icon}}"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h3>Serie:{{aviso.serie}} Turma:{{aviso.turma}}</h3>
          <p>{{aviso.msg}}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-card>

  <ion-card style="border: 1px solid lightgray; height: 55%;" 
    *ngIf="this.firebaseService?.usuario?.type != 'Professor'">
    <ion-card-header color="primary" style="border-bottom: 1px solid lightgray">
      <ion-label>Tarefas</ion-label>
    </ion-card-header>

    <ion-content scroll-y='true'>
      <ion-item *ngFor="let tarefa of this.firebaseService?.tarefas" (click)="abrirTarefas(tarefa)">
        <ion-icon slot="start" color="medium" name="{{tarefa.icon}}"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h3>Serie:{{tarefa.serie}} Turma:{{tarefa.turma}}</h3>
          <p>{{tarefa.msg}}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-card>

 
  <div *ngIf="this.firebaseService?.usuario?.type != 'Aluno'">
    <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="fab">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button routerLink="/criar-tarefa/" routerDirection="forward"  data-desc="Criar Tarefa">
          <ion-icon name="bookmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink="/criar-aviso/" routerDirection="forward" data-desc="Criar Aviso">
          <ion-icon name="alert"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div *ngIf="this.firebaseService?.usuario?.type != 'Professor'">
    <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="fab">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button routerLink="/add-book/" routerDirection="forward"  data-desc="Cadastrar leitura">
          <ion-icon name="book"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>