<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Principal
    </ion-title>
    <ion-chip outline slot="end">
        <ion-label>{{aluno.name}}</ion-label>
        <ion-avatar>
          <img src="{{aluno.img}}">
        </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="abrirTarefas()">
      <ion-card-header>
        <ion-card-subtitle>Avisos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-list lines="none">
              <ion-item *ngFor="let aviso of avisos" lines="inset">
                <ion-icon slot="start" color="medium" name="{{aviso.icon}}"></ion-icon>
                <ion-label>{{aviso.msg}}</ion-label>
              </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="abrirTarefas()">
        <ion-card-header>
          <ion-card-subtitle>Tarefas de Casa</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item *ngFor="let tarefa of tarefas" lines="inset">
                  <ion-icon slot="start" color="medium" name="{{tarefa.icon}}"></ion-icon>
                  <ion-label>{{tarefa.msg}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
